[submodule "edk2"]
	path = edk2
	url = https://github.com/tianocore/edk2.git
[submodule "edk2-platforms"]
	path = edk2-platforms
	url = https://github.com/tianocore/edk2-platforms.git
[submodule "edk2-non-osi"]
	path = edk2-non-osi
	url = https://github.com/tianocore/edk2-non-osi.git
[submodule "ipxe"]
	path = ipxe
	url = https://github.com/ipxe/ipxe.git
[submodule "examples/rpi4/fcos/kmods-via-containers"]
	path = examples/rpi4/fcos/kmods-via-containers
	url = https://github.com/raballew/kmods-via-containers
[submodule "examples/rpi4/fcos/kvc-simple-kmod"]
	path = examples/rpi4/fcos/kvc-simple-kmod
	url = https://github.com/raballew/kvc-simple-kmod
[submodule "examples/rpi4/fcos/filetranspiler"]
	path = examples/rpi4/fcos/filetranspiler
	url = https://github.com/raballew/filetranspiler
